<div class="content col-xs-10 col-xs-offset-1">
  <h1>My Weather</h1>
  <%= form_tag weathers_show_path, method: 'get' do %>
    <%= text_field_tag :zipcode, params[:zipcode], id: 'zipcode', placeholder: 'Zipcode (ex. 99212)', class: 'form-control', required: true %>
    <button type='submit' class='btn btn-primary'>Get Weather</button>
  <% end %>
</div>

