body, html{
  background: url('weather.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.content {
  text-align: center;
  color: white;
  h1 {
    margin-bottom: 30px;
  }
  #zipcode {
    display: inline-block;
    width: 50%;
  }
  .frosty {
    background: rgba(0, 0, 0, 0.65);
    #conditions {
      display: inline-block
    }
    img {
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}

.navbar {
  border-radius: 0px;
}

@media (max-width: 300px) {
  .content {
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (min-width: 500px) {
  .content {
    h1 {
      font-size: 50px;
    }
    p {
      font-size: 18px;
    }
  }
}

@media (min-width: 700px) {
  .content {
    h1 {
      font-size: 64px;
    }
    p {
      font-size: 22px;
    }
  }
}

@media (min-width: 1200px) {
  .content {
    h1 {
      font-size: 100px;
    }
    p {
      font-size: 36px;
    }
  }
}