<h1>Weather</h1>
<p id='location'><%= location(@response) %></p>
<p id='conditions'><%= condition(@response) %></p>
<p id='temperature'><%= temperature(@response) %></p>
<p id='wind'><%= wind(@response) %></p>


